
#calculator{
    width: 200px;
    height: 2000px;
    background-color:#131313;
    margin: 0 auto;
    border-radius: 5px;
    border:2px outset black;
}
h1{
    color: whitesmoke;
    text-align: center;
}
h4{
    color: whitesmoke;
    text-align: center;
    margin-top:245px;
}
.insert{
    width: 270px;
    margin-left:10px;
    font-size: 20px;
    height:40px;
    border-radius: 4px;
    padding-left: 5px;
    background-color: gainsboro;
}
.key input{
    width: 50px;
    height:35px;
    border-radius:5px;
    background-color:white;
    float:left;
    font-size: 18px;
    font-weight:600;
    color:#131313;
    margin-top: 20px;
    margin-left: 20px;
}