table{
    margin: 30px 250px;
    border: 1px solid snow;
}
input[type="text"] {
    width: 80px;
    height: 25px;
}
.field{
    width: 40px;
    height: 30px;
    color: #ffffff;
    background-color: #131313;
}
